/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    background-attachment: fixed;
    font-family: 'Play';
}

.scoreboard {
    margin: 0 30%;
    height: 350px;
    background: rgb(66, 29, 29);
    border: solid 10px rgb(180, 151, 113);
    padding-top: 10px;
    border-radius: 25px;
}

div {
    float: left;
    width: 50%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
div, h1, p {
    text-align: center;
}

h1, h2 {
    color: white;
}

span {
    display: block;
    background: rgb(180, 151, 113);
    border-radius: 15px;
    margin: 0 35%;
    color: yellow;
    height: 120px;
    font-size: 100px;
}

p {
    font-size: 30px;
    font-weight: bold;
}

img {
    width: 100%;
    height: 100px;
}

.item {
    font-size: 20px;
}

button {
    margin: 0 12%;
    padding: 10px;
    width: 9%;
    background-color: rgb(180, 151, 113);
    border: 10px solid rgb(99, 33, 33);
    border-radius: 10px;
    cursor: pointer;
}

div {
    border-top: solid rgb(180, 151, 113) 3px;
    border-bottom: solid rgb(180, 151, 113) 3px;
    padding-bottom: 4%;
}

.player {
    border-right: solid rgb(180, 151, 113) 3px;
}